 <form action="/user/index">
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" aria-describedby="locationhelp" placeholder="Enter location" name="location" required>
  </div>
  <button type="submit" class="btn btn-primary">Search Hotels</button>
</form>