/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rooms
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
 :root{
    --color1: rgb(73, 151, 165);
}
.main-container{
    position: relative;
    min-height: 100vh;
}
.container{
    padding-bottom: 150px;
}
body{
    font-family: 'Poppins', sans-serif !important; 
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100% !important;
    background-color: black;
    height: 120px;
    margin-top: 50px;
    color: var(--color1);
    list-style: none;
}
.footer h1{
    font-size: 24px;
}
.container2{
    height: 100%;
    margin: 0 auto;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container2 li{
    margin-top: 10px;
    list-style: none;
}
.container2 a{
    color: var(--color1);
    text-decoration: none;
    margin-left: 10px;
    text-decoration: none;
}
.budes h2:hover{
    color: white;
    background-color: black;
 }

.svg{
     width: 600px;
     height: 600px;
     margin: 0 150px;
 }